* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}
.container {
  max-width: 800px;
  margin: auto;
}
header {
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  color: white;
}

a {
  text-decoration: none;
  color: white;
  margin: 0.3rem;
}

.left,
.center,
.right {
  padding: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center {
  text-transform: uppercase;
  font-size: larger;
}

main {
  padding: 2rem;
  text-align: justify;
  margin: 3px;
  background-color: whitesmoke;
}
main p {
  background-color: whitesmoke;
}

/*? FOOTER ************ */
.footer {
  display: flex;
  gap: 2rem;
  padding: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: auto;
  justify-content: space-around;
  align-content: space-around;
}
.foot-left1 {
  display: flex;
  flex-direction: column;
  flex: 20%;
}
.foot-left2 {
  display: flex;
  flex-direction: column;
  flex: 20%;
}
.About,
.Contact {
  color: whitesmoke;
  flex: 30%;
  text-align: justify;
}
